.contact-input-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  gap: 10px;

  & .names-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .contact-submit-button {
    color: white;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: rgb(75, 14, 75);
    font-weight: bold;
    font-size: 100%;
    transition: 0.5s all;

    &:hover {
      background-color: rgb(92, 2, 92);
    }

    &:active {
      background-color: rgb(147, 0, 147);
    }
  }

  & textarea {
    border-radius: 7px;
    outline: none;
    border: 0;
    width: 100%;
    font-size: 100%;
    background-color: #1e1e1e;
    color: white;
    padding: 10px;
    font-family: 'inter', sans-serif;
    resize: vertical;
    max-height: 15vh;
    min-height: 8vh;

    &:focus {
      outline: 2px solid #a3a3ff;
    }

  }
}
