.contact-input-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  gap: 10px;

  & .names-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .contact-submit-button {
    color: white;
    width: 210px;
    height: 40px;
    border-radius: 5px;
  }

  & textarea {
    border-radius: 7px;
    outline: 0;
    border: 0;
    width: 110%;
    height: 40px;
    font-size: 100%;
    background-color: #1e1e1e;
    color: white;
    padding: 0 10px;
    font-family: 'inter', sans-serif;
  }
}
