.about-me-left-side-container {
	width: 70%;
	height: 100vh;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;

	& .description {
		width: 75%;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-family: 'source code pro';
		font-size: 1.5rem;
		color: rgb(255, 245, 255);

		& .hovered-sides {
			transition: all 0.3s;
			color: rgb(252, 171, 252);
			font-weight: 700;
		}

		& .hovered {
			transition: font-weight 1s;

			&:hover {
				color: rgb(175, 18, 175);
				font-weight: 900;
			}
		}
	}

	& .language-progress-container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 3vw;
	}
}
