.home-page {
  width: 100vw;
  height: 100vh;
  font-family: 'JetBrains Mono', sans-serif;
  background-color: var(--bg);
}

.home-content {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  gap: 10%;
  justify-content: center;
}


@media (max-width: 600px) {
  .home-content {
    flex-direction: column-reverse;
  }
}

.home-text-description {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 2vh;

  & h2 {
    color: #cecece;
  }

  & p {
    color: #b0b0b0;
    font-size: 1.1em;
  }

  @media (max-width: 600px) {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3vw;
    width: 70%;
  }


  & .about span{
    color: var(--main);
  }
}

.home-image-container {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4%;
  background-color: rgba(121, 42, 245, 0.35);
  border-radius: 30% 70% 70% 30% / 58% 43% 57% 42%;

  animation: border-radius-transform 5s ease-in 1s infinite running;

  @keyframes border-radius-transform {
    50% {
      border-radius: 63% 37% 22% 78% / 57% 73% 27% 43%;
    }
    100% {
      border-radius: 30% 70% 70% 30% / 58% 43% 57% 42%;
    }
  }

  & img {
    width: 100%;
  }
}