.skills-tag {
  font-family: 'JetBrains Mono', monospace;
  width: fit-content;
  font-size: 0.7em;
  padding: 3px 7px;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 2px solid var(--main);
}